@model List<ProductModel>

@{
    ViewData["Title"] = "Product List";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="ProductCreateOrEdit" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.ProductDescription>
                        <td>@product.ProductPrice</td>
                        <td>@product.category.CategoryName</td>
                        <td>
                            <div class="justify-content-center btn-group d-flex">
                                <a asp-action="productCreateOrEdit" asp-route-productID="@product.ProductId" class=" col btn btn-primary me-2"> <i class="bi bi-pencil-square"></i> </a>
                                <div onclick="onDelete(`/api/product/detele/@(product.ProductId)`)" class="col btn btn-danger"> <i class="bi bi-trash3"></i> </div>
                            </div>
                        </td>

            </tr>
            }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/Dialog.js"></script>
}

